<html>
    <head>
        <title>Labyrinth</title>
    </head>
    <body>
        <!-- not class? name instead? -->
        <div id="content", name="content">
        {% block content %}
        <h1>This page is for debugging only</h1>
        <h1>All of the data is gathered and formatted in the backend. Check views.py or the database for errors if something is wrong</h1>
        <br>
        <h1>{{domain_name}}</h1>
        <h2>{{domain_content}}</h2>
        <h3>{{untimedEntity}}</h3>
        <h4>{{untimedEntity_content}}</h4>
        <h3>{{timedEntity}}</h3>
        <h4>{{timedEntity_content}}</h4>
        {% endblock %}
        </div>
    </body>
</html>