{% load static %}
{% load the_labyrinth_extras %}

<html>
    <head>
        <title>Labyrinth</title>
        <link rel="stylesheet" href="{% static 'the_labyrinth/labyrinth.css' %}">
    </head>
    <body>
{% block content %}
<h1 class="intro">Welcome to the Labyrinth</h1>
<div class="calendar">
    <h2>Calendar</h2>
    <!-- use Python to generate a calendar using the for loops -->
</div>
<div class="spread">
    <h2>Spread (dropdown/list)</h2>
    <h3>Domains</h3>
    {% for i in d %}
        <div class="spreadCategory">
            <h4>{{i.domain_name}}</h4>
            <p>Untimed items</p>
            <ul>
                {% for j in u|from_domain:i.id %}
                    <li>{{j}}</li>
                {% endfor %}
            </ul>
            <p>Timed items</p>
            <ol>
                {% for k in t %}
                    <li>{{k}}</li>
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
</div>

{% endblock %}

    </body>
</html>